<%= render "layouts/user-card" %>
<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <% @movies.each do |movie| %>
      <div class="row">
        <div class="col-xs-2">
          <%= image_tag(movie["picture"]["data"]["url"]) %>
        </div>
        <div class="col-xs-10">
          <%= movie["name"] %><br/>
          <%= movie["studio"] %>
        </div>
      </div>
    <% end %>
  </div>
</div>
