<div class="row LoginCard">
  <div class="col-xs-6 col-xs-offset-3">
    <%= link_to "Sign in with FB", user_facebook_omniauth_authorize_url({scope: "email"}), class: "btn btn-lg btn-primary" %>
  </div>
</div>
