<div class="row">
	<div class="col-xs-6 col-xs-offset-3">
		<% if user_signed_in? %>
			<%= image_tag current_user.avatar, class: "img-responsive img-circle"%>
			<%= current_user.name %>
			<%= current_user.email %>
		<% else %>
			<%= link_to "Sign in with FB", user_facebook_omniauth_authorize_url %>
		<% end %>
	</div>
</div>